.maskGradiente {
    background: linear-gradient(180deg, rgb(139, 64, 0, 0.5), rgba(139, 64, 0, 0.85), rgba(0, 0, 0));
}

.containerpra{
    background-color: #8B4000;
}

.fundoImg {
    background: no-repeat;
    background-image: url(../img/regioes/centroOeste/centroOesteFundo.jpg);
}