.sobre_grupo{
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  color: black;
}
.text_bombom{
  text-align: center;
}
.titulo_cand{
  margin: 3vh 0 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.nossoTime {
  display: block;
  position: relative;
  background-color: #0077b5;
}

.img-Contato{
  margin-top: 10vh;
 width: 150px;
 height: 150px;
}

.leo {
  margin-top: 50px;
  display: block;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #00b5ac;
  width: 100%;
}

.leo img {
  margin: 10vh;

  width: 10%;
}
.leo p{
margin: 0px 70px 0px 70px;
  text-align: center;
}
.blanco{
background-color: rgb(255, 255, 255);
color: aliceblue;
}



