* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

.img-Contato{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid greenyellow;
}

.center{
    text-align: center;
}

.tituloContato{
    color: greenyellow;
}

.seila{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;
}

.sul{
height: 130px;
width: 130px;
}

.container-Regiao{  
    text-align: center;
    display: flex;
    align-items: center;
    width: 20rem; 
    margin-left: auto;
    margin-right: auto; 
}

.containerpra{
    border: solid;
    background-color: aqua;
    padding: 20px;
    display: flex;
    width: 60rem; 
    margin-left: auto;
    margin-right: auto; 

}

.carne{
    height: 100px;
    width: 190px;
}

.carne,.carnet{
    text-align: center;
}
