@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.bandeira {
  background: linear-gradient(269deg, #16b83e, #ffe11f, #1651b8);
  background-size: 600% 600%;

  -webkit-animation: BandeiraBrasil 30s ease infinite;
  -moz-animation: BandeiraBrasil 30s ease infinite;
  animation: BandeiraBrasil 30s ease infinite;
}

@-webkit-keyframes BandeiraBrasil {
  0% {
    background-position: 0% 91%;
  }

  50% {
    background-position: 100% 10%;
  }

  100% {
    background-position: 0% 91%;
  }
}

@-moz-keyframes BandeiraBrasil {
  0% {
    background-position: 0% 91%;
  }

  50% {
    background-position: 100% 10%;
  }

  100% {
    background-position: 0% 91%;
  }
}

@keyframes BandeiraBrasil {
  0% {
    background-position: 0% 91%;
  }

  50% {
    background-position: 100% 10%;
  }

  100% {
    background-position: 0% 91%;
  }
}

main{
  height: 100vh;
}

/*carrossel*/
.conteudo{
  position: absolute;
  top: 10vh;
  width: 100%;
}

.carrossel-secrion, 
.carrossel{
  height: 100vh;
  width: 100%;
}

.carrossel .cavalinho{
  height: 100vh;
  width: 100%;
}

/* Navbar container */
.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial;
  background: rgba(64, 64, 64, 0.5);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1;
}

.dropbtn {
  color: white;
}
.container-background {
  height: 100%;
  width: 100%;
  background: rgba(15, 215, 115, 0.5);
  z-index: 10;
  position: absolute;
}
.regioes {
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar .active {
  color: black;
}

.navbar a:hover,
:hover.dropbtn {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 148, 20);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffe11f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.img-Contato {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid;
}

.center {
  text-align: center;
}

.titulo-regiao {
  font-size: 4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.subTitulo-regiao{
  font-size: 1.7em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.descrisao-Regiao {
  margin: 3vh 0 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.imgRegiao {
  height: 130px;
  width: 130px;
}

.container-Regiao {
  text-align: center;
  display: flex;
  align-items: center;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.containerpra {
  border: solid;
  background-color: aqua;
  padding: 20px;
  display: flex;
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

.img-pratoTipico {
  height: 100px;
  width: 190px;
}

.img-pratoTipico,
.texto-pratoTipico {
  text-align: center;
}

.titulo-pontosTuristicos {
  margin: 10vh 0 0 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
}

/* footer {
  bottom: 0;
  left: 0;
  padding-top: 4vh;
  height: 8vh;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #ffff;
  background: rgba(0, 0, 0, 0.2);
} */
.footer{
 display: table;
   width: 100%;
  text-align: center;
  font-size: 20px;
  color: #ffff;

}
.mapa_footer{
display: table-cell;
}
.direitos_footer{
  display: table-cell;
}
.sobre_footer{
  display: table-cell;
}
.canddev{
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.2); 
}
.texto_canddevs{

  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
