.maskGradiente {
    background: linear-gradient(180deg, rgba(255, 224, 3, 0.5), rgba(255, 224, 3, 0.85), rgba(0, 0, 0));
}

.containerpra{
    background-color: #ff2400;
}

.fundoImg {
    background: no-repeat;
    background-image: url(../img/regioes/nordeste/nordesteFundo.jpg);
}