.maskGradiente {
    background: linear-gradient(180deg, rgba(155, 222, 0, 0.3), rgba(155, 222, 0, 0.85), rgba(0, 0, 0));
}

.containerpra{
    background-color: #4B6511;
}

.fundoImg {
    background: no-repeat;
    background-image: url(../img/regioes/norte/norteFundo.jpg);
}