.maskGradiente {
    background: linear-gradient(180deg, rgba(0, 138, 140, 0.3), rgba(0, 138, 130, 0.85), rgba(0, 0, 0));
}

.containerpra{
    background-color: #144845;
}

.fundoImg {
    background: no-repeat;
    background-image: url(../img/regioes/sul/sulFundo.jpg);
}